h1, h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

h3, h4, blockquote {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
        color: @gray;
}

blockquote {
    font-size: 14px;
}

h1 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	padding-top: 0px;
	margin-top: 0px;
	font-weight:400;
}


p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.timeline_container {
	margin: 0 auto;
	width: 1200px;
	padding: 40px 0px 0px 0px;
}


.briefMessage, .associatedContent {
    .center-block;
    @media (min-width: @screen-sm-min) {
        width: @videoWidth;
    }
}

.associatedContent {
    border: 1px solid @state-success-bg;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 20px 10px 20px;
    margin-top: 20px;

    p {
        color: @gray;
    }

    h3 {
        font-size: 20px;
        color: @state-success-text;        
    }

    img.insert {
        margin-left: 25px;
    }

    h4 small {
        color: @brand-info;        
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: right;
    }
}

.accordionHeader {
    font-weight: normal;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    color: black;
}

.accordionHeader:hover {
    text-decoration: none;
}

#titleContainer {

    .briefMessage;

    a {
        text-decoration: none;
        color: black;
    }

    #headerContainer {
        @media (min-width: @screen-sm-min) {
            float:left;
        }
        @media (max-width: @screen-sm-min) {
            .text-center;
        }
    }

    #logoContainer {
        @media (min-width: @screen-sm-min) {
            float:right;
        }
        @media (max-width: @screen-sm-min) {
            .text-center;
	    padding-bottom: 12px;
        }
    }
}

/** 
 * For tablets, laptops, and PCs, add padding to the content. Because the footer is pinned,
 * it can sit on top of the content and make it unreadable if the proper amount of padding
 * is not added.
 */
@media (min-width: @screen-sm-min) {

    .mainContent {
       // Footer Compensation. On the website, this is changed dynamically via jQuery.
       padding-bottom: 135px;
    }
}

section.contentPage_row {

    .make-row();
    padding-top: 80px;

    #genericContainer_col {
        .make-xs-column(12);
        .make-md-column(8);
        .make-md-column-offset(2);

        .content {
            margin-top: 10px;
      	    margin-bottom: 10px;
        }

	.video {
	    .center-block;
	} 
    }
}

article {
    border-top: 1px dotted green;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-top: 25px;

    img {
        padding-top: 25px;
	padding-bottom: 25px;
        .center-block();
    }
}

header {
    .navbar;
    .navbar-default;
    .navbar-fixed-top;
}

footer#frontPageFooter {
    .navbar;
    .navbar-default;

    @media (min-width: @screen-sm-min) {
        .navbar-fixed-bottom;
    }

    padding-top: 15px;
    padding-bottom: 10px;

    color: @state-success-text;
    background-color:  @state-success-bg;

    #signup, #thankyou, #error {
        .make-xs-column(12);
        .make-md-column(9);
	.make-md-column-offset(2);
    }

    #thankyou, #error {
	display: none;
    }
}

#header {
    text-align: right;
    width: 100%;
    padding: 10px 20px 10px 10px;
}

.socialIcons {
    a:link {
        color: @brand-primary;
    }

    a:hover {
        color: darken(@brand-primary, 15%);
    }
}

/* unvisited link */
a:link {
    color: @brand-primary;
}

/* visited link */
a:visited {
    color: lighten(@brand-primary, 23%);;
}

/* mouse over link */
a:hover {
    color: darken(@brand-primary, 15%);
}

/* selected link */
a:active, a:active, a:focus {
    color: ff6666;
    text-decoration: none;
}